<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>764600333203-mjteooj8uv611ck7h9vsini6gi4bi262.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764600333203-mjteooj8uv611ck7h9vsini6gi4bi262</string>
	<key>API_KEY</key>
	<string>AIzaSyCAgnbEwdkePJ00dH99l6XgDWvB0rImCGc</string>
	<key>GCM_SENDER_ID</key>
	<string>764600333203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TC.No-One-Eats-Alone</string>
	<key>PROJECT_ID</key>
	<string>work-this-time-e4210</string>
	<key>STORAGE_BUCKET</key>
	<string>work-this-time-e4210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764600333203:ios:9b5109af5bd2f037</string>
	<key>DATABASE_URL</key>
	<string>https://work-this-time-e4210.firebaseio.com</string>
</dict>
</plist>